@model LoginViewModel
@{
    @ViewData["Title"]
}

<div class="container">
    <img src="http://www.sclance.com/pngs/cartoon-dog-png/cartoon_dog_png_226068.png" width="1100">
</div>
<div class="container-fluid" style="background-image: url(http://www.wuf.pe/assets/img/bloq3.jpg)" >
    <div class="container">
        <div class="text-center">
            <br><img src="https://i.ibb.co/p0DvBcZ/Iniciar-Sesion.png"><br><br>
        </div>
        <div class="row">
            <div class="col-6">
                <form asp-action="IniciarSesion" method="post">
                    <p>Por favor ingresar sus datos:</p>
                    <div class="form-group">
                        <label for="">CORREO ELECTRONICO: </label>
                        <br>
                        <input class="form-control" asp-for = "Email" placeholder="Ingrese correo electronico">
                    </div>
                    <div class="form-group">
                        <label for="">CONTRASEÑA: </label> 
                        <br> 
                        <input class="form-control" asp-for = "Password" placeholder="Ingrese contraseña">
                    </div>
                    <br>
                    <button class="btn btn-primary">INICIAR SESION</button>
                    <br><br>
                </form>
            </div>
            <div class="col-6 text-center">
                <img src="https://www.ganador.com.mx/Content/img/home/perro_home.png" width="300"> 
            </div>
        </div>
    </div>
</div>
