@model RegistroViewModel
@{
    ViewData["Title"] = "Unetenos";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Unetenos">
        <div>
            <label>Nombre de usuario: </label><br>
            <input type="text" asp-for="Usuario">
        </div><br>
        <div>
            <label for="">Correo: </label><br>
            <input type="email" asp-for="Email">
        </div><br>

        <div>
            <label for="">Dirección: </label> 
            <br>
            <input type="text" asp-for="Email">
        </div><br>

        <div>
            <label for="">Teléfono: </label><br>
            <input type="text" asp-for="Email">
        </div><br>


        <div>
            <label for="">Contraseña: </label><br>
            <input type="password" asp-for="Password">
        </div><br>

        <div>
            <button>Unirse</button>
        </div>

    </form>
</body>
</html>
