<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <h1>ALERTAS PETBIENESTAR</h1>
    <p>En este apartado usted podrá denunciar cualquier tipo de maltrato animal</p>
    <p>o darnos a conocer cualquier situación relacionada con las mascotas.</p>
    <div>
        <h2>FORMULARIO: </h2>
        <form action="" method="POST">
            INGRESE SU NOMBRE: 

        </form>
        
    </div>
    
</body>
</html>