<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <h1>ALERTAS PETBIENESTAR</h1>
    <br>
    <p>En este apartado usted podrá denunciar cualquier tipo de maltrato animal</p>
    <p>o darnos a conocer cualquier situación relacionada con las mascotas.</p>
    <br>
    <div>
        <div>
            <form asp-action="Formualrioalertas" method="GET">
                <img src="" alt="">
                <input type="hidden" name="id" value= "maltrato">
                <br>
                <button>DENUNCIAR MALTRATO</button>
            </form>
        </div>
        <div>
            <form action="Formualrioalertas" method="GET">
                <img src="" alt="">
                <input type="hidden" name="id" value= "abandono">
                <br>
                <button>REPORTAR ABANDONO</button>
            </form>
        </div>
    </div>
    <br>
</body>
</html>