@{
    ViewData["Title"]="Nosotros";
}

<div class="container">
    <img src="https://visionveterinaria.es/wp-content/uploads/2007/11/Captura-de-pantalla-2016-07-06-a-las-20.09.33.png">
</div>

<div class="container-fluid mt-5" style="background-image: url(http://www.wuf.pe/assets/img/bloq3.jpg)">
    <div class="container text-center">
        <div class="row">
            <div class="col-7 mt-2">
                <br><img src="https://i.ibb.co/b3pXb3J/Nosotros.png"><br><br>
                <p>Somos una organización protectora de animales especializada, en la ayuda a perros maltratados y/o abandonados</p>
                <p>Todos los animales que acogemos reciben la debida atención veterinaria (analíticas, tratamientos, cirugías, etc.) y son identificados y esterilizados antes de emprender la búsqueda de adoptantes comprometidos a proporcionarles una vida sana y feliz.</p>
                <p>Defendemos el “sacrificio cero”. Esto significa que establecemos una línea muy clara entre “el sacrificio” y “la eutanasia”. Nunca sacrificamos cachorros recién nacidos, ni animales cojos, ciegos, sordos o con enfermedades crónicas que sean tratables. Exclusivamente en caso de enfermedad en fase terminal que produzca un sufrimiento irreversible, se recurre a la eutanasia con toda la dignidad, el respeto y el amor que ellos merecen.</p>
                <p>La acción divulgativa promueve campañas en diferentes medios de comunicación con el claro objetivo de educar a la sociedad en el respeto hacia los animales y los derechos que tienen a disfrutar de una vida digna y saludable.</p>
            </div>
            <div class="col-5">
                <img src="https://images.vexels.com/media/users/3/140072/isolated/preview/02bac95a04a65600a095ae5948d87756-perro-de-dibujos-animados-by-vexels.png" height="450">   
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  mt-5" style="background-image: url(http://www.wuf.pe/assets/img/bloq2.jpg)">
    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                <img src="https://www.melopienso.com/wp-content/uploads/2017/09/comparador-de-piensos-para-perros.png" height="180">   
            </div>
            <div class="col-8">
                <br><img src="https://i.ibb.co/GW63Vvh/Vision.png"><br>
                <p>Construir un mundo donde todos los perros sean felices. Y ser una Asociacion reconocida a nivel nacional por fomentar el respeto de los derechos y necesidades de los animales, además de luchar contra la venta ilegal de ellos.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  mt-5" style="background-image: url(http://www.wuf.pe/assets/img/bloq3.jpg)">
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <br><img src="https://i.ibb.co/m9PcMcG/Mision.png"><br>
                <p>Ayudar a los animales necesitados, estando totalmente comprometidos con la causa y sin fines de lucro. Conectamos a la comunidad con la realidad de los perros en abandono, a través de un sistema auto sostenible con soluciones que contribuyen a la construcción de un mundo mejor para todos los perros.</p>
            </div>
            <div class="col-4">
                <img src="https://www.melopienso.com/wp-content/uploads/2017/09/dog-hello.png" height="200">   
            </div>
        </div>
    </div>
</div>