@model Sugerencias
@{
    ViewData["Title"]="Sugerencias";
}

<form asp-action="sugerencias">
    <div>
        <label for="">Mensaje: </label><br>
        <textarea asp-for="mensaje" cols="30" rows="10"></textarea><br>
    </div>

    <div>
        <button type="submit">Enviar</button>
    </div>
</form>