@{
    ViewData["Title"]="DONACION HUMANITARIA";
}

<div class="container-fluid text-center" style="background-color: #F4F8FB">
    <h1>GRACIAS POR BRINDARNOS SU AYUDA</h1><br>
    <h4>TRABAJAREMOS UNIDOS POR UN BIEN COMUN</h4>
    <p>NOS PONDREMOS EN CONTACTO CON USTED</p>
    <img src="https://i.ibb.co/XSwPMfk/mas.png">
</div>
