@{
    ViewData["Title"]="Alerta enviada";
}

<div class="container-fluid text-center" style="background-color: #F4F8FB">
    <h1>SU ALERTA FUE ENVIADA EXITOSAMENTE, LO ESTAMOS PROCESANDO</h1><br>
    <h4>LE LLAMAREMOS LO ANTES POSIBLE</h4>
    <h4>GRACIAS</h4>
    <img src="https://i.ibb.co/XSwPMfk/mas.png">
</div>
