@{
    ViewData["Title"]="Alerta enviada";
}

<div class="container-fluid text-center" style="background-color: #F4F8FB">
    <h1>SU SUGERENCIA HA SIDO RECIBIDA EXITOSAMENTE</h1><br>
    <h4>GRACIAS POR AYUDARNOS A SEGUIR MEJORANDO</h4>
    <h4>ATTE: EL EQUIPO PETBIENESTAR</h4>
    <img src="https://i.ibb.co/XSwPMfk/mas.png">
</div>
