@{
    ViewData["Title"]="Adopta";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <h1>ADOPCION DE MASCOTAS</h1>
    <div>
        <p>Bien venido ha este apartadado donde podras adoptar un integrante más a tu familia.</p>
        <p>Porfavor ingrese todos sus datos correctamente.</p>
    </div>
    <div>
        <h2>FORMULARIO DE ADOPCION</h2>
        <form asp-action="Adoptar" method="POST">
            <div>
                
            </div>
        </form>
    </div>
</body>
</html>