@model List<Mascota>
@{
    ViewData["Title"]="Adopta";
}
<div class="text-center">
    <img  src="https://i.ibb.co/KrScXvD/adoptar.png"><br><br>
</div>
<div class="container-fluid" style="background-image: url(http://www.wuf.pe/assets/img/bloq3.jpg)">
    <div class="container text-center">
        <img src="https://i.ibb.co/fqKXz41/acepta.png" width="1000"><br><br>
    </div>
        <div class="row">
        
            @foreach(var mas in Model){
            <div class="col-3">
                <div class="card border-dark" style="width: 18rem;">
                    <form action="adoptar" method="post">
                        <input type="hidden" value="@mas.id" name="id">
                        <button><img src="@mas.foto" class="card-img-top" alt="..."></button>
                    </form>
                    
                    <div class="card-body">
                        <p class="card-text">EDAD: @mas.edad meses</p>
                        <p class="card-text">SEXO: @mas.categoria</p>
                    </div>
                </div><br>
            </div><br>
            }
        </div>


</div>

