@model Mascota
@{
    ViewData["Title"]="Dar_en_Adopción";
}
<div class="text-center">
    <img src="https://i.ibb.co/t2rH2rS/dara.png"><br>
</div>

<div class="container-fluid" style="background-image: url(http://www.wuf.pe/assets/img/bloq2.jpg)">
    <div asp-validation-summary="All" style="color: red;" ></div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form asp-action="DarAdopcion" method="post">
                    <h2>INGRESE DATOS DE LA MASCOTA</h2><br>
                    <p>Por Favor llene correctamente el fomulario</p><br>
                    <div class="form-row">
                        <div class="col-6">
                            <label >EDAD: </label><br>
                            <input class="form-control" type="int" asp-for="edad" placeholder="Edad de la mascota en meses" >
                        </div>
                        <div class="col-6">
                            <label >SEXO: </label><br>
                            <select asp-for="categoria" class="browser-default custom-select">
                            <option value="sexo" selected>Elegir...</option>
                            <option value="macho" >MACHO</option>
                            <option value="hembra">HEMBRA</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >FOTO </label><br>
                        <input class="form-control" type="text" asp-for="foto" placeholder="Edad de la mascota en meses">
                    </div>
                    <br>
                    
                    <br>
                    <button class="btn btn-danger btn-lg">DAR EN ADOPCIÓN</button><bt>
                </form>
            </div>

            <div class="col-6 text-center">
                <img src="https://i.ibb.co/xh540k2/perro-caja-1.jpg" height="450">
            </div>
        </div>
    </div>
</div>
