
@model Mascota
@{
    ViewData["Title"]="Adopta";
}
<h1>BIENVENIDO AL APARTADO DE ESTERILIZACIÓN</h1>

    <div class="container">
        <div class="row">
            <div asp-validation-summary="All" style="color: red;" ></div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form asp-action="DarAdopcion" method="post">
                            
                            <p>Por Favor llene correctamente el fomulario</p>
                            <h2>INGRESE DATOS DE LA MASCOTA</h2><br>
                            <div class="form-group">
                                <label >EDAD DE LA MASCOTA EN MESES: </label><br>
                                <input class="form-control" type="int" asp-for="edad" >
                            </div>
                            <div class="form-group">
                                <label >FOTO </label><br>
                                <input class="form-control" type="text" asp-for="foto">
                            </div>
                            <br>
                            <div class="form-group">
                                <select asp-for="categoria" class="browser-default custom-select">
                                <option value="SEXO" selected>SEXO</option>
                                <option value="macho">MACHO</option>
                                <option value="hembra">HEMBRA</option>
                                </select> 
                            </div>
                            <br>
                            <button class="btn btn-primary">Solicitar esterilización</button>
                        </form>


                        <form asp-action="DarAdopcion" method="post">
                            
                            
                            <h2>INGRESE SUS DATOS</h2><br>
                            <div class="form-group">
                                <label >NOMBRES COMPLETOS: </label><br>
                                <input class="form-control" type="int" asp-for="edad" >
                            </div>
                            <br>
                            <div class="form-group">
                                <label >DIRECCIÓN: </label><br>
                                <input class="form-control" type="int" asp-for="edad" >
                            </div>
                            <br>
                            <div class="form-group">
                                <label >TELEFONO: </label><br>
                                <input class="form-control" type="int" asp-for="edad" >
                            </div>
                            
                            <br>
                            <button class="btn btn-primary">Solicitar esterilización</button>
                        </form>
                    </div>
            <div class="col-6">
                <img class="img-thumbnail" src="https://seguros.elcorteingles.es/admin/assets/uploads/files/images/thumbnails_l/adoptar-perro.jpg"><br><br> 
            </div>
        </div>
    </div>
</div>