
@model Mascota
@{
    ViewData["Title"]="Esterilización";
}
<div class="container-fluid" style="background-image: url(http://www.wuf.pe/assets/img/bloq3.jpg)">
    <div class="container text-center">
        <img src="https://i.ibb.co/t2rH2rS/dara.png"><br>
    </div>
    <div asp-validation-summary="All" style="color: red;" ></div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form asp-action="DarAdopcion" method="post">
                    
                    <p>Por Favor llene correctamente el fomulario</p>
                    <h2>INGRESE DATOS DE LA MASCOTA:</h2><br>
                    <div class="form-group">
                        <label >EDAD DE LA MASCOTA EN MESES: </label><br>
                        <input class="form-control" type="int" asp-for="edad" >
                    </div>
                    <div class="form-group">
                        <label >FOTO </label><br>
                        <input class="form-control" type="text" asp-for="foto">
                    </div>
                    <br>
                    <div class="form-group">
                        <select asp-for="categoria" class="browser-default custom-select">
                        <option value="SEXO" selected>Elija...</option>
                        <option value="MACHO">Macho</option>
                        <option value="HEMBRA">Hembra</option>
                        </select> 
                    </div>
                    <br>
                    <button class="btn btn-primary">DAR EN ADOPCIÓN</button>
                </form>
            </div>

            <div class="col-6">
                <img class="img-thumbnail" src="https://mexperiencia.com/wp-content/uploads/2018/11/perro-caja.jpg"><br><br> 
            </div>
        </div>
    </div>
</div>
