
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    
    <h1>NO SE PREOCUPE SU MASCOTA SE ENCUNETRA EN LAS MEJORES MANOS</h1>
    <p>Nos comunicaremos con usted via telefonica. </p>
    <p>Cuidaremos muy bien de su mascota hasta que que encuentre un hogar y una familia. </p>
    <h2>GRACIAS</h2>
</body>
</html>