<div class="container-fluid text-center" style="background-color: #F4F8FB">
    <h1>NO SE PREOCUPE SU MASCOTA SE ENCUENTRA EN LAS MEJORES MANOS</h1>
    <p>Nos comunicaremos con usted via telefonica. </p>
    <p>Cuidaremos muy bien de su mascota hasta que que encuentre un hogar y una familia. </p>
    <h2>GRACIAS</h2>
    <img src="https://i.ibb.co/XSwPMfk/mas.png">
</div>