
@{
    ViewData["Title"]="Mascotas";
}

    <div class="container">
        <div class="row">
            <div class=" col-4" >
                <form asp-action="Adoptar" method="get">
                    <img  class="img-thumbnail" src="https://i.ibb.co/m40QkBr/adopcionn-1-copia.jpg" ><br>
                    <button  class="btn btn-primary btn-lg btn-block">ADOPCIÓN</button>
                </form>       
            </div>
            
            <div class=" col-4" >
                <form asp-action="Esterilizacion" method="get">
                    <img class="img-thumbnail" src="https://i.ibb.co/7GXMbRp/e1.jpg"> 
                    <br><button class="btn btn-danger btn-lg btn-block">ESTIRILIZACIÓN</button>
                </form>          
            </div>

            <div class=" col-4" >
                <form asp-action="DarAdopcion" method="get">
                    <img class="img-thumbnail" src="https://i.ibb.co/cvzdvG2/da1-1.jpg">
                    <button  class="btn btn-primary btn-lg btn-block">DAR EN ADOPCIÓN</button>
                </form>
            </div>
        </div>
        
    </div>
    
    <br>
    <br>
    <br>