@{
    ViewData["Title"]="Esterilización";
}

<div class="container-fluid text-center" style="background-color: #F4F8FB">
    <h4>SU  PETICIÓN ESTA SIENDO PROCESADA,</h4><br>
    <h4>NOS COMUNICAREMOS CON USTED TAN PRONTO SE NOS SEA POSIBLE</h4>
    <h4>GRACIAS</h4>
    <img src="https://i.ibb.co/XSwPMfk/mas.png">
</div>
